@use "../tools" as *;
//Montserrat ======================================================
@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-Medium.woff2) format("woff2");
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-MediumItalic.woff2) format("woff2");
 font-weight: 500;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-SemiBold.woff2) format("woff2");
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff2) format("woff2");
 font-weight: 600;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-Bold.woff2) format("woff2");
 font-weight: 700;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Montserrat";
 src: url(@/assets/fonts/montserrat/Montserrat-BoldItalic.woff2) format("woff2");
 font-weight: 700;
 font-style: italic;
 font-display: swap;
}

//Karla ======================================================
@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-MediumItalic.woff2) format("woff2");
 font-weight: 500;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-Medium.woff2) format("woff2");
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-BoldItalic.woff2) format("woff2");
 font-weight: 700;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-Bold.woff2) format("woff2");
 font-weight: 700;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-ExtraBold.woff2) format("woff2");
 font-weight: 800;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Karla";
 src: url(@/assets/fonts/karla/Karla-ExtraBoldItalic.woff2) format("woff2");
 font-weight: 800;
 font-style: italic;
 font-display: swap;
}
