**/bin/
**/obj/
**/node_modules/
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/logs/
**/[Dd]ebug/
**/[Rr]elease/

*.md
*.log
*.user
*.suo

src/Web/wwwroot/vue/
src/Web/wwwroot/css/
src/Web/wwwroot/js/

appsettings.local.json
docker-compose.yml
Dockerfile
.dockerignore
appveyor.yml
