@use "../tools" as *;
.authentication-page {
  &,
  &__container {
    min-height: 100vh;
  }

  &__container {
    padding: 48px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__logo {
    display: flex;
    margin: 0 auto 32px;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .back-link {
      margin-bottom: 0;
    }
  }

  & {
    background-color: $color-grey-lighter;
  }

  &__bg-waves {
    background-color: $color-white;
  }

  .card {
    box-shadow: 0 4px 24px rgba($color-black, 0.08);
  }

  &__bg-waves-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }

  &__bg-waves {
    flex-shrink: 0;
    height: 350px;
    width: 975px;
  }

  .waves-bg-wave {
    fill: $color-white;
    opacity: 0.3;
    mix-blend-mode: soft-light;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .authentication-page {
    &__bg-waves {
      height: 480px;
      width: 1340px;
    }
  }
}
