@use "../tools" as *;
.content-grid {
  &,
  &__transition {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header,
  &__subheader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px 24px;
    grid-column: span 2;
  }

  &__text {
    @include text--body-small;
    color: $color-green-dark;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 40px;
  }

  ~ .content-grid:not(:first-child) {
    margin-top: 20px;
  }
}

//Breakpoints ==================================
@include breakpoint(xs-down) {
  .content-grid {
    &__header,
    &__subheader {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}

@include breakpoint(sm-up) {
  .content-grid {
    &,
    &__transition {
      gap: 28px;
    }

    &__subheader {
      &:has(+ .data-easy-table) {
        margin-bottom: -8px;
      }
    }

    &__actions {
      margin-left: auto;
      justify-content: flex-end;

      .btn--link {
        order: -1;
      }
    }

    //States ---------------------------
    &--double {
      display: grid;
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
  }
}