@use "../tools" as *;
.public-page {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    background-color: $color-green-medium;
    @include pagePadding;
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;
  }

  &__title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: rem(28);
    line-height: 1.2;
    color: $color-white;
  }

  &__content {
    @include pagePadding;
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 900px;
    margin: 0 auto;
  }

  &__section {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: rem(22);
    line-height: 1.3;
    color: $color-grey-dark;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid $color-green;
  }

  &__section-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: $common-border-radius;
    margin-bottom: 20px;
  }

  &__section-content {
    font-family: $font-karla;
    font-size: rem(16);
    line-height: 1.7;
    color: $color-grey-dark;

    h2 {
      font-family: $font-montserrat;
      font-weight: 700;
      font-size: rem(20);
      margin-top: 24px;
      margin-bottom: 12px;
      color: $color-grey-dark;
    }

    h3 {
      font-family: $font-montserrat;
      font-weight: 700;
      font-size: rem(18);
      margin-top: 20px;
      margin-bottom: 10px;
      color: $color-grey-dark;
    }

    p {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      padding-left: 24px;
      margin-bottom: 12px;
    }

    li {
      margin-bottom: 4px;
    }

    a {
      color: $color-green;
      text-decoration: underline;
      @include colorHover($color-green-dark);
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: $common-border-radius;
    }

    blockquote {
      border-left: 3px solid $color-green;
      padding-left: 16px;
      margin: 16px 0;
      font-style: italic;
      color: $color-grey-medium;
    }
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .public-page {
    &__hero {
      min-height: 45vh;
      padding-top: 140px;
      padding-bottom: 80px;
    }

    &__title {
      font-size: rem(40);
    }

    &__content {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &__section-title {
      font-size: rem(26);
    }
  }
}
