@use "../tools" as *;
.public-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1;
  }
}

.home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: $color-green-medium;
  @include pagePadding;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  &__title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: rem(32);
    line-height: 1.2;
    color: $color-white;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-family: $font-karla;
    font-size: rem(18);
    line-height: 1.5;
    color: $color-white;
    opacity: 0.9;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .home-hero {
    min-height: 70vh;

    &__title {
      font-size: rem(48);
    }

    &__subtitle {
      font-size: rem(22);
    }
  }
}
