// colors
$color-white: #ffffff;
$color-black: #000000;

$color-grey-darker: #1A1A1A;
$color-grey-dark: #232323;
$color-grey-medium: #5C5C5C;
$color-grey: #d3d3d3;
$color-grey-light: #EFEFEF;
$color-grey-lighter: #F8F8F8;

$color-green-medium: #D42535;
$color-green: #be1e2c;
$color-green-light: #F2C4C8;
$color-green-lighter: #FDF0F1;

$color-red-dark: #6E3E3E;
$color-red: #FF6060;
$color-red-light: #EBBBBB;

$color-green-dark: #8B1621;
$color-green: #be1e2c;
$color-green-light: #F2C4C8;

$color-yellow-dark: #775227;
$color-yellow: #D0810A;
$color-yellow-light: #F4DFB1;

$color-text: $color-black;
$color-border: rgba($color-grey-medium, 0.2);
$color-shadow: rgba($color-black, 0.1);